{% extends "base.html" %} {% block content %}

<h2>CT IMAGE  Input</h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;margin: 0 auto;">
        <div class="img-preview" style="margin: 0 auto;">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg" id="btn-predict">Analyze!</button>
        </div>
    </div>

    <div class="loader" style="display:none; margin: 2em auto;"></div>

    <h3 id="result">
        <span> </span>
    </h3>

</div>

{% endblock %}